<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="toofz.Services.Tests.Properties.ServiceSettingsProviderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="toofz.Services.Tests.Properties.ServiceSettingsProviderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="toofz.Services.Tests.Properties.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <applicationSettings>
    <toofz.Services.Tests.Properties.ServiceSettingsProviderSettings>
      <setting name="AppId" serializeAs="String">
        <value>247080</value>
      </setting>
    </toofz.Services.Tests.Properties.ServiceSettingsProviderSettings>
  </applicationSettings>

  <userSettings>
    <toofz.Services.Tests.Properties.ServiceSettingsProviderSettings>
      <setting name="ForceSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Duration" serializeAs="String">
        <value>00:02:00</value>
      </setting>
    </toofz.Services.Tests.Properties.ServiceSettingsProviderSettings>
    <toofz.Services.Tests.Properties.TestSettings>
      <setting name="UpdateInterval" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="DelayBeforeGC" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="InstrumentationKey" serializeAs="String">
        <value />
      </setting>
      <setting name="KeyDerivationIterations" serializeAs="String">
        <value>1</value>
      </setting>
    </toofz.Services.Tests.Properties.TestSettings>
  </userSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
